body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #7ac7b7;
    resize: both;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

#personaje {

    width: 150px;
    height: 170px;
    display: block;
    position: absolute;
    background-image: url("../img/caperucita/idle_right_0.png");
    background-size: contain;
    z-index: 1;
}

.rana {
    width: 70px;
    height: 68px;
    display: block;
    position: absolute;
    background-image: url("../img/enemigos/rana.gif");
    background-size: contain;
    z-index: 1;
}

#fondo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: 0;
    opacity: 0.5;
}

#overfondo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: 3;
}

#juego {
    transform-origin: top left;
    width: 1920px;
    height: 1080px;
    filter: contrast(1.08);
}

#canvas {
    opacity: 1;
}