@font-face {
    font-family: "monofonto";
    src: url("../fonts/monofonto.ttf");
}

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous.ttf");
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #000;
    resize: both;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
}

.cargando {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url("../img/interfaz/loading.gif") center no-repeat #fffdff;
    background-size: 10em;
    transition: 1s;
    opacity: 1;
}

.dinamico {
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

#caperucita {
    display: none;
    width: 190px;
    height: 201px;
    margin-top: -50px;
    background-position: bottom center;
    background-image: url("../img/caperucita/idle_right.png");
    z-index: 2;
}



.guia {
    background: url("../img/interfaz/guia.png");
    width: 4rem;
    height: 1.4rem;
    transform-origin: left center;
    background-position: right center;
    transform: rotate(0);
    display: block;
    position: absolute;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
    left: 100px;
    top: 50px;
}

.flecha {
    background: url("../img/proyectiles/flecha.png");
    width: 4rem;
    height: 1.4rem;
    transform-origin: left center;
    background-position: right center;
    transform: rotate(0);
    display: block;
    position: absolute;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
}
.fuego {
    background: url("../img/proyectiles/fuego.gif");
    width: 6rem;
    height: 6rem;
    transform-origin: left center;
    background-position: right center;
    transform: rotate(0);
    display: block;
    position: absolute;
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
}
#fondo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    z-index: 0;
}

#overfondo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    z-index: 3;
    pointer-events: none;
}


#daño {
    width: 5rem;
    height: 4rem;
    display: none;
    position: absolute;
    z-index: 20;
    padding: 1rem;
    line-height: 3rem;
    text-align: center;

}

.rana {
    width: 55px;
    height: 60px;
    margin-top: -10px;
    z-index: 1;
}

.rana.bien {
    background-image: url("../img/enemigos/rana.gif");
}

.rana.daño {
    background-image: url("../img/enemigos/ranadaño.png");
}

.murcielago {
    width: 55px;
    height: 57px;
    margin: -10px 0 0 9px;
    z-index: 1;
}

.murcielago.bien {
    background-image: url("../img/enemigos/murcielago.gif");
}

.murcielago.daño {
    background-image: url("../img/enemigos/murcielagodaño.png");
}

.lobo {
    width: 307px;
    height: 130px;
    z-index: 1;
}

.lobo.bien {
    background-image: url("../img/enemigos/lobo.gif");
}

.lobo.daño {
    background-image: url("../img/enemigos/lobodaño.png");
}

.loboFeroz {
    width: 450px;
    height: 190px;
    z-index: 1;
}

.loboFeroz.bien {
    background-image: url("../img/enemigos/loboFeroz.png");
}

.loboFeroz.daño {
    background-image: url("../img/enemigos/loboFerozdaño.png");

}

#daño.blanco {
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px 13px #E21C20;
}

#daño.rojo {
    font-size: 2rem;
    color: #E21C20;
    text-shadow: 1px 1px 13px white;
}

#fondo.modoDebug,
#overfondo.modoDebug {
    opacity: 0.5;
}

.interfaz {
    position: fixed;
    display: block;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

#panel {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    background-color: #0000002e;
    border-radius: 0px 0 10px 10px;
    color: white;
    font-family: 'Righteous', Arial, Verdana, sans-serif;
    z-index: 3;
}

#panel,
#vida,
#caperucita {
    display: none;
}

#ajustes {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    line-height: 3.3rem;
    padding: 0 0 0 1.2rem;
    height: 100%;
}

#ajustes i {
    pointer-events: auto;
}

#ajustes i:hover {
    color: #75ccba;
    cursor: url("../img/interfaz/pointer.png"), auto;
}

.separador {
    border-bottom: 0.2rem #fff solid;
    width: 100%;
    margin: 0 auto;
    float: none;
    display: block;
    position: relative;
    padding: 0;
}

#nivel {
    font-size: 2.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: inline-block;
}

.tiempo {
    padding: 1.2rem 1.2rem 0 1.2rem;
    text-transform: uppercase;
    text-align: center;

}

#tiempo {
    margin: 0 auto;
    display: block;
    width: fit-content;
    position: relative;
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: "monofonto";
}


#vida {
    position: absolute;
    font-size: 2.5rem;
    -webkit-text-stroke: 0.2rem #fff;
    color: #DF2423;
    padding: 2rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .65);
    pointer-events: none;
    z-index: 3;
}

#puntuacion {
    font-family: "monofonto";
    -webkit-text-stroke: 0;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#vida i {
    padding: 0.3rem;
    pointer-events: none;

}

#vida i.perdida {
    color: #00000000;
}

.ui-effects-wrapper {
    display: inline-block;
}

#juego {
    transform-origin: top left;
    width: 1920px;
    height: 1080px;
    filter: contrast(1.08);
}

#juego:hover {
    cursor: url("../img/interfaz/cursor.png"), auto;
}

.enemigo:hover {
    cursor: url("../img/interfaz/cursorRojo.png"), auto;
}

#canvas {
    opacity: 1;
}

#inicio {
    background-image: url("../img/interfaz/fondoTitulo.png");
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    cursor: url("../img/interfaz/pointer.png"), auto;
}

#gameover {
    background-image: url("../img/interfaz/gameover.png");
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    cursor: url("../img/interfaz/pointer.png"), auto;
}

#personajeInicio {
    background-image: url("../img/interfaz/personajeTitulo.png");
    display: block;
    position: relative;
    width: 42vw;
    margin: 2vw 4vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    top: calc((100vh - (40vh + 1vw))/ 10);
}

#titulo {
    background-image: url(../img/interfaz/titulo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: relative;
    width: 42vw;
    height: 25vh;
    float: left;
    margin: 9vw 4vw 0 0;
}

#partida {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: relative;
    padding: 1vw;
    width: 42vw;
    height: 45vh;
    float: left;
}

#partida div:not(.alerta):hover {
    background: white;
    color: #d82b2b;
    text-shadow: 0 0 1vw white;
    transition: 0.5s ease;
}

#partida div:not(.alerta) {
    border-bottom: #ffffff solid 5px;
    font-size: 3vw;
    font-family: "Righteous";
    text-align: center;
    color: #202020;
    padding: 0.2em;
}

.alerta {
    display: none;
    padding: 2vh;
    text-align: center;
    font-size: 2vh;
    color: #bf2323;
    font-family: "Righteous";
}

[role="dialog"] {
    background: white;
    padding: 2vw;
    border-radius: 4px;
    z-index: 999999999999;
}

[role="dialog"] *,
[role="dialog"],
span.ui-slider-handle.ui-corner-all.ui-state-default,
.ui-widget-overlay {
    cursor: url("../img/interfaz/pointer.png"), auto;
    outline: none;
}

#transicion {
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.ui-dialog-title {
    font-family: "Righteous";
    font-size: 2em;
    text-align: center;
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: #202020;
}

i.fa.fa-close {
    font-size: 1.5em;
    display: block;
    position: absolute;
    right: 1rem;
    line-height: 2em;
    color: #202020;
}

i.fa.fa-close:hover {
    color: #d82b2b;
}

#vol {
    padding: 1em;
}

#vol>span {
    padding: 0.5em;
    font-size: 1.5em;
}

#volumen {
    border: none;
    border-radius: 50em;
    background: #F16969;
    width: 83%;
    display: inline-block;
    font-family: "Roboto Black";
}

.valorVolumen {
    display: inline-block;
    font-family: "Roboto Black";
    padding-left: 0.5em;
}

#teclas>div>div:focus {
    background: #d82b2b;
}

div#dialog {
    overflow: hidden;
}

.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min {
    background: #d82b2b;
    border-radius: 50em;
}

span.ui-slider-handle.ui-corner-all.ui-state-default {
    border-radius: 50em;
    background: #ffffff;
    box-shadow: 0 0 0.2em #202020;
    border: none;
    top: -3px;
}

.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle {
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 0.2em #bf2323 solid;
}

#teclas>div>div {
    border-collapse: collapse;
    margin: 0.5em;
    border-radius: 50em;
    background: #7cc4b1;
}

#teclas>div>div i {
    border: none;
    display: block;
    position: relative;
    width: 6em;
    padding: 1em;
    background: white;
    box-shadow: 0 0 3px 0px #00000047;
    border-radius: 51em;
    font-family: "Roboto black";
}

#teclas>div>div i {
    display: block;
    display: inline-block;
    box-shadow: 0 0 3px #0000005f;
    width: auto;
    padding: 1em;
    border-radius: 51em;
    font-family: "Roboto black";
}

#teclas>div>div i:before {
    font-family: fontawesome;
}


#teclas>div>div span {
    display: inline-block;
    position: absolute;
    color: #202020;
    height: 2em;
    margin-top: 0.5em;
    text-transform: uppercase;
    margin-left: 0.5em;
    font-family: "Roboto black";
    text-align: center;
    line-height: 2em;
}

.col {
    display: inline-block;
    width: 49%;
}

#playMusic {
    display: block;
    position: absolute;
    z-index: 9999;
    color: white;
    font-size: 2em;
    bottom: 0;
    right: 0;
    background: #6f79776b;
    border-radius: 50em;
    margin: 0.5em;
}

i.fa.fa-music {
    background: white;
    padding: 0.4em;
    color: #202020;
    border-radius: 50em;
    font-size: 1em;
}

i.fa.fa-play,
i.fa.fa-pause {
    padding: 0 0.7em 0 0;
    font-size: 0.7em;
}

audio {
    display: none;
}