body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #000;
    resize: both;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.cargando {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url("../img/interfaz/loading.gif") center no-repeat #fffdff;
    background-size: 10em;
    transition: 1s;
    opacity: 1;
}

.personaje {
    display: block;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#caperucita {
    width: 190px;
    height: 201px;
    margin-top: -50px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-image: url("../img/caperucita/idle_right_0.png");
}

.rana {
    width: 55px;
    height: 60px;
    /margin-top: -10px;
    display: block;
    position: absolute;
    background-image: url("../img/enemigos/rana.gif");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#fondo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    z-index: 0;
}

#overfondo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-repeat: no-repeat;
    z-index: 3;
    pointer-events: none;
}

#fondo.modoDebug,
#overfondo.modoDebug {
    opacity: 0.5;
}

#vida {
    font-size: 2.5rem;
    -webkit-text-stroke: 0.2rem #fff;
    color: #DF2423;
    position: absolute;
    padding: 2rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .65);
    z-index: 10;
}

#vida i {
    padding: 0.3rem;
}

#vida i.perdida {
    color: #00000000;
}

.ui-effects-wrapper {
    display: inline-block;
}

#juego {
    transform-origin: top left;
    width: 1920px;
    height: 1080px;
    filter: contrast(1.08);
}

#juego:hover {
    cursor: url("../img/interfaz/cursor.png"), auto;
}

.enemigo:hover {
    cursor: url("../img/interfaz/cursorRojo.png"), auto;
}

#canvas {
    opacity: 1;
}